/*Paleta de colores*/
$color_principal: #6EC5CE;
$color_secundario: #91E1EA;
$color_texto: #3C3C3B;
$color_titulos: #4B949C;
$color_botones: linear-gradient(180deg, #FDDDB4 0%, #F7C482 85.82%);
$color_botones_2: linear-gradient(180deg, #9FEAF5 0%, #64C3D1 85.82%);
$color_footer: #64C3D1;

:root {
    --swiper-theme-color: #ffffff;
}