html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    background-color: #ffffff;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/*Mixins a utilizar en caso de ser necesario*/