h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0em;    
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8em;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0em;
    text-align: left;
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
}

h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 0em;
    text-align: left;
}